extends layout

block content
    h3 Desenvolvido por Lucas Malheiros 
    p Estudante de <b>Engenharia de Software</b> 7º período
    p 23 anos, nascido em Batatais, São Paulo 
    p email institucional lucasmalheiros@alunos.utfpr.edu.br
    a(href='https://www.linkedin.com/in/lucas-malheiros-6a9993163') Perfil LinkedIn
