extends layout

block content
  h1= title
  p Bem vindo ao site pessoal desenvolvido para a disciplina de #{subject}
  br
  a(href='/about') Sobre o site
  br
  br
  a(href='/technologies') Tecnologias utilizadas
  br
  br
  a(href='/dev') Sobre o desenvolvedor
  br
  br
  a(href='/contact') Contato
  br
  br
  a(href='/settings') Configurações do site
  br
  br
  a(href='/contact') Entrar em contato com o desenvolvedor
  br
  br
  if process.env.LOGGEDIN == 'false'
    form(action='/login', method='POST')
      p
        | Usuário:
        input(type='text', name='userName', value='')
      p
          | Senha: 
          input(type='password', name='password', value='')
      input(type='submit', value='Login')

