extends layout

block content
  h1= title
  p Bem vindo ao site pessoal desenvolvido para a disciplina de #{title}
  br
  a(href='/about') Sobre o site
  br
  br
  a(href='/technologies') Tecnologias utilizadas
  br
  br
  a(href='/dev') Sobre o desenvolvedor
  br
  br
  a(href='/contact') Contato
  br
  br
  a(href='/settings') Configurações do site
  br
  br
