extends layout

block content
  h1= title
  p Bem vindo ao site pessoal desenvolvido para a disciplina de #{title}
  br
  a(href='/about') Sobre o criador
  br
  br
  a(href='/technologies') Tecnologias utilizadas
  br
  br

