extends layout

block content
  h1 Configurações
  form(action='/settings/editarNome', method='POST')
    p
      | Alterar nome: 
      input(type='text', name='nomeNovo', value='')
      input(type='submit', value='Alterar')
