// Implementar um sistema de autenticação simples (usuário e senha
// armazenados no arquivo de configuração) que irão permitir acesso a uma tela
// de configuração. Exibir em todas as telas da aplicação o nome do usuário
// autenticado